@tailwind base;
@tailwind components;
@tailwind utilities;
body {
   background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/theme-background/rose.jpg');
   --primary: #061c4f;
   --tprimary: #3560f5;
   --tertiary: #1a3570;
   --secondary: #061641;
   --rightsidebar: #223c75;
   background-size: 1920px auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   font-size: 14px;
   &::-webkit-scrollbar {
      width: 3px;
   }
   &::-webkit-scrollbar-track {
      background-color: var(--primary);
   }
   &::-webkit-scrollbar-thumb {
      background-color: #ffffff80;
      border-radius: 999px;
   }
   .text-grayDa {
      color: #dadada;
   }
   .text-secondary {
      color: #ffffff80;
   }
   .bgr-secondary {
      background-color: #ffffff80;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #ffffff80;
      font-family: 'Roboto', sans-serif;
   }
   .Toastify__toast,
   .Toastify__close-button {
      color: #fff !important;
   }
   .form-search {
      background-color: rgba(255, 255, 255, 0.1);
      input::-webkit-input-placeholder {
         color: #dadada;
      }
      input::-moz-input-placeholder {
         color: #dadada;
      }
      input::-webkit-search-cancel-button {
         -webkit-appearance: none;
         height: 20px;
         width: 20px;
         background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
         cursor: pointer;
      }
   }
   .form-search.active {
      background-color: var(--tertiary) !important;
   }
   .li-search:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }
}

body.Rosé {
   --primary: #061c4f;
   --tprimary: #3560f5;
   --tertiary: #1a3570;
   --secondary: #061641;
   --rightsidebar: #223c75;
}
body.Zing-Music-Awards {
   --primary: #37075d;
   --tprimary: #ed2b91;
   --tertiary: #4b1178;
   --secondary: #2f074e;
   --rightsidebar: #5d218c;
}
body.XONE {
   --primary: #1e1e1e;
   --tprimary: #bc9a00;
   --tertiary: #363636;
   --secondary: #2f074e;
   --rightsidebar: #2d2f32;
}
body.Tháp-Eiffel {
   --primary: #282828;
   --tprimary: #9b4de0;
   --tertiary: #363636;
   --secondary: #181818;
   --rightsidebar: #2d2f32;
}
body.Jack {
   --primary: #767269;
   --tprimary: #d08011;
   --tertiary: #605c52;
   --secondary: #4c473e;
   --rightsidebar: #726c5e;
}
body.IU {
   --primary: #e6e1de;
   --tprimary: #c24793;
   --tertiary: #efedeb;
   --secondary: #f5e6e0;
   --rightsidebar: #e5e3df;
}
body.Ji-Chang-Wook {
   --primary: #b3d8db;
   --tprimary: #1966b2;
   --tertiary: #d1edf0;
   --secondary: #a3d5dc;
   --rightsidebar: #ced9d9;
}
body.Lisa {
   --primary: #f1ddd8;
   --tprimary: #d14781;
   --tertiary: #f9e6e2;
   --secondary: #f4cbca;
   --rightsidebar: #f9dbdb;
}
body.Jennie-Kim {
   --primary: #bbb9c4;
   --tprimary: #8919ae;
   --tertiary: #cac6dd;
   --secondary: #c6c4d1;
   --rightsidebar: #e5e3df;
}
body.Jisoo {
   --primary: #fff;
   --tprimary: #8d22c3;
   --tertiary: #fff;
   --secondary: #fff;
   --rightsidebar: #fff;
}

body.Jisoo,
body.Jennie-Kim,
body.Lisa,
body.Ji-Chang-Wook,
body.IU {
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
   .Toastify__toast,
   .Toastify__close-button {
      color: #32323d !important;
   }
   .form-search {
      background-color: rgba(255, 255, 255, 0.4);
      input::-webkit-input-placeholder {
         color: #32323d;
      }
      input::-moz-input-placeholder {
         color: #32323d;
      }
   }
   .li-search:hover {
      background-color: rgba(255, 255, 255, 0.6);
   }
}

.bg-primary {
   background-color: var(--primary);
}
.bg-tprimary {
   background-color: var(--tprimary);
}
.text-tprimary {
   color: var(--tprimary);
}
.border-l-tprimary {
   border-color: var(--tprimary);
}
.border-b-tprimary {
   border-bottom-color: var(--tprimary);
}
.bg-tertiary {
   background-color: var(--tertiary);
}
.bg-modal {
   background-color: var(--tertiary);
}
.bg-secondary {
   background-color: var(--secondary);
}
.bg-rightsidebar {
   background-color: var(--rightsidebar);
}
.border-tprimary {
   border-color: var(--tprimary);
}
.isHover:hover {
   color: var(--tprimary) !important;
}
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
//toast
.Toastify__toast {
   background-color: var(--tertiary) !important;
}

// ////////////////////////////////////////////////////////////////////////////
.hide-scrollbar::-webkit-scrollbar {
   width: 0px;
}
div::-webkit-scrollbar {
   width: 3px;
}
div::-webkit-scrollbar-track {
   background-color: transparent;
}
div::-webkit-scrollbar-thumb {
   background-color: #ffffff80;
   border-radius: 999px;
}
ul::-webkit-scrollbar {
   width: 3px;
}
ul::-webkit-scrollbar-track {
   background-color: transparent;
}
ul::-webkit-scrollbar-thumb {
   background-color: #ffffff80;
   border-radius: 999px;
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
   display: flex !important;
}
.swiper-button-next,
.swiper-button-prev {
   color: #333 !important;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 50%;
   width: 50px !important;
   height: 50px !important;
   display: none !important;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
   &::after {
      font-size: 28px !important;
   }
}
////CSS LOADING
.pyramid-loader {
   position: relative;
   width: 300px;
   height: 300px;
   display: block;
   transform-style: preserve-3d;
   transform: rotateX(-20deg);
}

.wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   animation: spin 4s linear infinite;
}

@keyframes spin {
   100% {
      transform: rotateY(360deg);
   }
}

.pyramid-loader .wrapper .side {
   width: 70px;
   height: 70px;
   /* you can choose any gradient or color you want */
   /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transform-origin: center top;
   clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
   transform: rotateZ(-30deg) rotateY(90deg);
   background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .side2 {
   transform: rotateZ(30deg) rotateY(90deg);
   background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side3 {
   transform: rotateX(30deg);
   background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side4 {
   transform: rotateX(-30deg);
   background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .shadow {
   width: 60px;
   height: 60px;
   background: #8b5ad5;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   transform: rotateX(90deg) translateZ(-40px);
   filter: blur(12px);
}

.text-stroke1 {
   -webkit-text-stroke: 1px rgb(96, 165, 250);
   font-family: 'Roboto', sans-serif;
}

.text-stroke2 {
   -webkit-text-stroke: 1px rgb(74, 222, 128);
   font-family: 'Roboto', sans-serif;
}
.text-stroke3 {
   -webkit-text-stroke: 1px rgb(248, 113, 113);
   font-family: 'Roboto', sans-serif;
}

.rotate-center-start {
   -webkit-animation: rotate-center-start 10s linear infinite;
   animation: rotate-center-start 10s linear infinite;
}

@keyframes rotate-center-start {
   0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

.rotate-center-end {
   -webkit-animation: rotate-center-end 1s linear;
   animation: rotate-center-end 1s linear;
}

@keyframes rotate-center-end {
   0% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border-radius: 50%;
   }
   40%,
   80% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      border-radius: 50%;
   }
   100% {
      border-radius: 8px;
   }
}

.text-gradient {
   background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%),
      linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.line-clamp-7 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7;
}
// ---------------------FORM LOGIN/REGISTER --------------------------------//
.container {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
   font-weight: bold;
   aspect-ratio: 16/9;
}

.input-container {
   filter: drop-shadow(46px 36px 24px #4090b5) drop-shadow(-55px -40px 25px #9e30a9);
   animation: blinkShadowsFilter 8s ease-in infinite;
   width: 400px;
   color: #fff;
}
@media (max-width: 500px) {
   .input-container {
      width: 320px;
   }
}

.input-content {
   display: grid;
   align-content: center;
   justify-items: center;
   align-items: center;
   text-align: center;
   padding-inline: 1em;
}

.input-content::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   filter: blur(40px);
   -webkit-clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
   clip-path: polygon(26% 0, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
   background: rgba(122, 251, 255, 0.5568627451);
   transition: all 1s ease-in-out;
}

.input-content::after {
   content: '';
   position: absolute;
   width: 98%;
   height: 98%;
   box-shadow: inset 0px 0px 20px 20px #212121;
   background: repeating-linear-gradient(
         to bottom,
         transparent 0%,
         rgba(64, 144, 181, 0.6) 1px,
         rgb(0, 0, 0) 3px,
         hsl(295, 60%, 12%) 5px,
         #153544 4px,
         transparent 0.5%
      ),
      repeating-linear-gradient(to left, hsl(295, 60%, 12%) 100%, hsla(295, 60%, 12%, 0.99) 100%);
   -webkit-clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
   clip-path: polygon(26% 0, 31% 5%, 61% 5%, 66% 0, 92% 0, 100% 8%, 100% 89%, 91% 100%, 7% 100%, 0 92%, 0 0);
   animation: backglitch 50ms linear infinite;
}

.input-dist {
   z-index: 80;
   display: grid;
   align-items: center;
   text-align: center;
   width: 100%;
   padding-inline: 1em;
   padding-block: 1.2em;
   grid-template-columns: 1fr;
}

.input-type {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   gap: 1em;
   font-size: 1.1rem;
   background-color: transparent;
   width: 100%;
   border: none;
}

.input-is {
   font-size: 0.9rem;
   background-color: transparent;
   width: 100%;
   box-sizing: border-box;
   padding-inline: 0.5em;
   padding-block: 0.7em;
   border: none;
   transition: all 1s ease-in-out;
   border-bottom: 1px solid hsl(221, 26%, 43%);
}

.input-is:hover {
   transition: all 1s ease-in-out;
   background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(102, 224, 255, 0.2) 27%,
      rgba(102, 224, 255, 0.2) 63%,
      transparent 100%
   );
}

.input-content:focus-within::before {
   transition: all 1s ease-in-out;
   background: hsla(0, 0%, 100%, 0.814);
}

.input-is:focus {
   outline: none;
   border-bottom: 1px solid hsl(192, 100%, 100%);
   color: hsl(192, 100%, 88%);
   background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(102, 224, 255, 0.2) 27%,
      rgba(102, 224, 255, 0.2) 63%,
      transparent 100%
   );
}

.input-is::-moz-placeholder {
   color: hsla(192, 100%, 88%, 0.806);
}

.input-is::placeholder {
   color: hsla(192, 100%, 88%, 0.806);
}

@keyframes backglitch {
   0% {
      box-shadow: inset 0px 20px 20px 30px #212121;
   }

   50% {
      box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
   }

   to {
      box-shadow: inset 0px 20px 20px 30px #212121;
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0deg) translate(-50%, 20%);
   }

   50% {
      transform: rotate(180deg) translate(40%, 10%);
   }

   to {
      transform: rotate(360deg) translate(-50%, 20%);
   }
}

@keyframes blinkShadowsFilter {
   0% {
      filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
   }

   25% {
      filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157)) drop-shadow(-55px 40px 24px #9e30a9);
   }

   50% {
      filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157))
         drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
   }

   75% {
      filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157))
         drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
   }

   to {
      filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706)) drop-shadow(-55px -40px 28px #9e30a9);
   }
}

// button submit
.voltage-button {
   position: relative;
}

.voltage-button button {
   color: white;
   background: #0d1127;
   padding: 1rem 3rem 1rem 3rem;
   border-radius: 5rem;
   border: 5px solid var(--tprimary);
   font-size: 15px;
   line-height: 1em;
   letter-spacing: 0.075em;
   transition: background 0.3s;
}

.voltage-button button:hover {
   cursor: pointer;
   background: #0f1c53;
}

.voltage-button button:hover + svg,
.voltage-button button:hover + svg + .dots {
   opacity: 1;
}

.voltage-button svg {
   display: block;
   position: absolute;
   top: -0.75em;
   left: -0.25em;
   width: calc(100% + 0.5em);
   height: calc(100% + 1.5em);
   pointer-events: none;
   opacity: 0;
   transition: opacity 0.4s;
   transition-delay: 0.1s;
}

.voltage-button svg path {
   stroke-dasharray: 100;
   filter: url('#glow');
}

.voltage-button svg path.line-1 {
   stroke: #f6de8d;
   stroke-dashoffset: 0;
   animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
   stroke: #6bfeff;
   stroke-dashoffset: 500;
   animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
   opacity: 0;
   transition: opacity 0.3s;
   transition-delay: 0.4s;
}

.voltage-button .dots .dot {
   width: 1rem;
   height: 1rem;
   background: white;
   border-radius: 100%;
   position: absolute;
   opacity: 0;
}

.voltage-button .dots .dot-1 {
   top: 0;
   left: 20%;
   animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
   top: 0;
   left: 55%;
   animation: fly-up 3s linear infinite;
   animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
   top: 0;
   left: 80%;
   animation: fly-up 3s linear infinite;
   animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
   bottom: 0;
   left: 30%;
   animation: fly-down 3s linear infinite;
   animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
   bottom: 0;
   left: 65%;
   animation: fly-down 3s linear infinite;
   animation-delay: 1.5s;
}

@keyframes spark-1 {
   to {
      stroke-dashoffset: -1000;
   }
}

@keyframes spark-2 {
   to {
      stroke-dashoffset: -500;
   }
}

@keyframes fly-up {
   0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
   }

   5% {
      opacity: 1;
      transform: translateY(-1.5rem) scale(0.4);
   }

   10%,
   100% {
      opacity: 0;
      transform: translateY(-3rem) scale(0.2);
   }
}

@keyframes fly-down {
   0% {
      opacity: 0;
      transform: translateY(0) scale(0.2);
   }

   5% {
      opacity: 1;
      transform: translateY(1.5rem) scale(0.4);
   }

   10%,
   100% {
      opacity: 0;
      transform: translateY(3rem) scale(0.2);
   }
}

// ----------------button add image---------------/

.codepen-button {
   display: block;
   cursor: pointer;
   color: white;
   margin: 0 auto;
   position: relative;
   text-decoration: none;
   font-weight: 600;
   border-radius: 6px;
   overflow: hidden;
   padding: 3px;
   isolation: isolate;
}

.codepen-button::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 400%;
   height: 100%;
   background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
   background-size: 25% 100%;
   animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
      0.75s linear infinite;
   animation-play-state: paused;
   translate: -5% 0%;
   transition: translate 0.25s ease-out;
}

.codepen-button:hover::before {
   animation-play-state: running;
   transition-duration: 0.75s;
   translate: 0% 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
   to {
      transform: translateX(-25%);
   }
}

.codepen-button span {
   position: relative;
   display: block;
   padding: 8px 1.5rem;
   font-size: 1.1rem;
   background: #000;
   border-radius: 3px;
   height: 100%;
}
#tippy-1 {
   width: 100%;
   max-width: 440px;
}
