@tailwind base;
@tailwind components;
@tailwind utilities;
body {
   background-color: #170f23;
   --primary: #170f23;
   --tprimary: #9b4de0;
   --tertiary: #34224f;
   --secondary: #130c1c;
   --rightsidebar: #130c1c;
   background-size: 1920px auto;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   font-size: 14px;
   &::-webkit-scrollbar {
      width: 3px;
   }
   &::-webkit-scrollbar-track {
      background-color: transparent;
   }
   &::-webkit-scrollbar-thumb {
      background-color: #ffffff80;
      border-radius: 999px;
   }
   .text-grayDa {
      color: #dadada;
   }
   .text-secondary {
      color: #ffffff80;
   }
   .bgr-secondary {
      background-color: #ffffff80;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #ffffff80;
      font-family: 'Roboto', sans-serif;
   }
}
body.Rosé {
   --primary: #061c4f;
   --tprimary: #3560f5;
   --tertiary: #1a3570;
   --secondary: #061641;
   --rightsidebar: #223c75;
}
body.Zing-Music-Awards {
   --primary: #37075d;
   --tprimary: #ed2b91;
   --tertiary: #4b1178;
   --secondary: #2f074e;
   --rightsidebar: #5d218c;
}
body.XONE {
   --primary: #1e1e1e;
   --tprimary: #bc9a00;
   --tertiary: #363636;
   --secondary: #2f074e;
   --rightsidebar: #2d2f32;
}
body.Tháp-Eiffel {
   --primary: #282828;
   --tprimary: #9b4de0;
   --tertiary: #363636;
   --secondary: #181818;
   --rightsidebar: #2d2f32;
}
body.Jack {
   --primary: #767269;
   --tprimary: #d08011;
   --tertiary: #605c52;
   --secondary: #4c473e;
   --rightsidebar: #726c5e;
}
body.IU {
   --primary: #e6e1de;
   --tprimary: #c24793;
   --tertiary: #efedeb;
   --secondary: #f5e6e0;
   --rightsidebar: #e5e3df;
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
}
body.Ji-Chang-Wook {
   --primary: #b3d8db;
   --tprimary: #1966b2;
   --tertiary: #d1edf0;
   --secondary: #a3d5dc;
   --rightsidebar: #ced9d9;
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
}
body.Lisa {
   --primary: #f1ddd8;
   --tprimary: #d14781;
   --tertiary: #f9e6e2;
   --secondary: #f4cbca;
   --rightsidebar: #f9dbdb;
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
}
body.Jennie-Kim {
   --primary: #bbb9c4;
   --tprimary: #8919ae;
   --tertiary: #cac6dd;
   --secondary: #c6c4d1;
   --rightsidebar: #e5e3df;
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
}
body.Jisoo {
   --primary: #fff;
   --tprimary: #8d22c3;
   --tertiary: #fff;
   --secondary: #fff;
   --rightsidebar: #fff;
   color: #32323d;
   .text-grayDa {
      color: #32323d;
   }
   .text-secondary {
      color: #696969;
   }
   .text-stroke {
      -webkit-text-stroke: 1px #696969;
      font-family: 'Roboto', sans-serif;
   }
   .bgr-secondary {
      background-color: #696969 !important;
   }
}
.bg-primary {
   background-color: var(--primary);
}
.bg-tprimary {
   background-color: var(--tprimary);
}
.text-tprimary {
   color: var(--tprimary);
}
.border-l-tprimary {
   border-color: var(--tprimary);
}
.bg-tertiary {
   background-color: var(--tertiary);
}
.bg-modal {
   background-color: var(--tertiary);
}
.bg-secondary {
   background-color: var(--secondary);
}
.bg-rightsidebar {
   background-color: var(--rightsidebar);
}
.border-tprimary {
   border-color: var(--tprimary);
}
.isHover:hover {
   color: var(--tprimary) !important;
}
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//
// ----------------------------------------------------------------------------//

.hide-scrollbar::-webkit-scrollbar {
   width: 0px;
}
div::-webkit-scrollbar {
   width: 3px;
}
div::-webkit-scrollbar-track {
   background-color: transparent;
}
div::-webkit-scrollbar-thumb {
   background-color: #ffffff80;
   border-radius: 999px;
}
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
   display: flex !important;
}
.swiper-button-next,
.swiper-button-prev {
   color: #333 !important;
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 50%;
   width: 50px !important;
   height: 50px !important;
   display: none !important;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
   &::after {
      font-size: 28px !important;
   }
}
////CSS LOADING
.wheel-and-hamster {
   --dur: 1s;
   position: relative;
   width: 12em;
   height: 12em;
   font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
   position: absolute;
}

.wheel,
.spoke {
   border-radius: 50%;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.wheel {
   background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
   z-index: 2;
}

.hamster {
   animation: hamster var(--dur) ease-in-out infinite;
   top: 50%;
   left: calc(50% - 3.5em);
   width: 7em;
   height: 3.75em;
   transform: rotate(4deg) translate(-0.8em, 1.85em);
   transform-origin: 50% 0;
   z-index: 1;
}

.hamster__head {
   animation: hamsterHead var(--dur) ease-in-out infinite;
   background: hsl(30, 90%, 55%);
   border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
   box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset, 0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
   top: 0;
   left: -2em;
   width: 2.75em;
   height: 2.5em;
   transform-origin: 100% 50%;
}

.hamster__ear {
   animation: hamsterEar var(--dur) ease-in-out infinite;
   background: hsl(0, 90%, 85%);
   border-radius: 50%;
   box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
   top: -0.25em;
   right: -0.25em;
   width: 0.75em;
   height: 0.75em;
   transform-origin: 50% 75%;
}

.hamster__eye {
   animation: hamsterEye var(--dur) linear infinite;
   background-color: hsl(0, 0%, 0%);
   border-radius: 50%;
   top: 0.375em;
   left: 1.25em;
   width: 0.5em;
   height: 0.5em;
}

.hamster__nose {
   background: hsl(0, 90%, 75%);
   border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
   top: 0.75em;
   left: 0;
   width: 0.2em;
   height: 0.25em;
}

.hamster__body {
   animation: hamsterBody var(--dur) ease-in-out infinite;
   background: hsl(30, 90%, 90%);
   border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
   box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset, 0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
   top: 0.25em;
   left: 2em;
   width: 4.5em;
   height: 3em;
   transform-origin: 17% 50%;
   transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
   clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
   top: 2em;
   left: 0.5em;
   width: 1em;
   height: 1.5em;
   transform-origin: 50% 0;
}

.hamster__limb--fr {
   animation: hamsterFRLimb var(--dur) linear infinite;
   background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
   transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
   animation: hamsterFLLimb var(--dur) linear infinite;
   background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
   transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
   border-radius: 0.75em 0.75em 0 0;
   clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
   top: 1em;
   left: 2.8em;
   width: 1.5em;
   height: 2.5em;
   transform-origin: 50% 30%;
}

.hamster__limb--br {
   animation: hamsterBRLimb var(--dur) linear infinite;
   background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
   transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
   animation: hamsterBLLimb var(--dur) linear infinite;
   background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
   transform: rotate(-25deg);
}

.hamster__tail {
   animation: hamsterTail var(--dur) linear infinite;
   background: hsl(0, 90%, 85%);
   border-radius: 0.25em 50% 50% 0.25em;
   box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
   top: 1.5em;
   right: -0.5em;
   width: 1em;
   height: 0.5em;
   transform: rotate(30deg) translateZ(-1px);
   transform-origin: 0.25em 0.25em;
}

.spoke {
   animation: spoke var(--dur) linear infinite;
   background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%),
      linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99%
         no-repeat;
}

/* Animations */
@keyframes hamster {
   from,
   to {
      transform: rotate(4deg) translate(-0.8em, 1.85em);
   }

   50% {
      transform: rotate(0) translate(-0.8em, 1.85em);
   }
}

@keyframes hamsterHead {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(0);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(8deg);
   }
}

@keyframes hamsterEye {
   from,
   90%,
   to {
      transform: scaleY(1);
   }

   95% {
      transform: scaleY(0);
   }
}

@keyframes hamsterEar {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(0);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(12deg);
   }
}

@keyframes hamsterBody {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(0);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(-2deg);
   }
}

@keyframes hamsterFRLimb {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(50deg) translateZ(-1px);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(-30deg) translateZ(-1px);
   }
}

@keyframes hamsterFLLimb {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(-30deg);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(50deg);
   }
}

@keyframes hamsterBRLimb {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(-60deg) translateZ(-1px);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(20deg) translateZ(-1px);
   }
}

@keyframes hamsterBLLimb {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(20deg);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(-60deg);
   }
}

@keyframes hamsterTail {
   from,
   25%,
   50%,
   75%,
   to {
      transform: rotate(30deg) translateZ(-1px);
   }

   12.5%,
   37.5%,
   62.5%,
   87.5% {
      transform: rotate(10deg) translateZ(-1px);
   }
}

@keyframes spoke {
   from {
      transform: rotate(0);
   }

   to {
      transform: rotate(-1turn);
   }
}

.text-stroke1 {
   -webkit-text-stroke: 1px rgb(96, 165, 250);
   font-family: 'Roboto', sans-serif;
}

.text-stroke2 {
   -webkit-text-stroke: 1px rgb(74, 222, 128);
   font-family: 'Roboto', sans-serif;
}
.text-stroke3 {
   -webkit-text-stroke: 1px rgb(248, 113, 113);
   font-family: 'Roboto', sans-serif;
}

.rotate-center-start {
   -webkit-animation: rotate-center-start 10s linear infinite;
   animation: rotate-center-start 10s linear infinite;
}

@keyframes rotate-center-start {
   0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }

   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

.rotate-center-end {
   -webkit-animation: rotate-center-end 1s linear;
   animation: rotate-center-end 1s linear;
}

@keyframes rotate-center-end {
   0% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border-radius: 50%;
   }
   40%,
   80% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
      border-radius: 50%;
   }
   100% {
      border-radius: 8px;
   }
}

.text-gradient {
   background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%),
      linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.line-clamp-7 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7;
}
